.DS_Store
.atom/
.idea
.packages
.pub/
pubspec.lock

Podfile.lock
Pods/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

GeneratedPluginRegistrant.java

# Ignore gradle artifact.
packages/camera/example/android/gradle/wrapper/gradle-wrapper.jar
